body{
    overflow: hidden;
    scrollbar-width: none;
}
.base {
    background: #204060 ;
}

#members {
    display: block;
    text-align: right;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#main-container {
    position: relative;
    display: none;
    overflow: hidden;
    scrollbar-width: none;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

#scroller {
    display: block;
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#scroller::-webkit-scrollbar {
    display: none
}

.shapes {
    height: 100px;
    width: 100px;
    border: 1px #400000 dotted;
    padding: 2px;
    margin: 3px;
    display: inline-block;
    top: 0;
}

#parameditor {
    display: block;
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
}